@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: transparent;
}

.navbar-header .logo {
    color: #000;
    text-decoration: none;
    font-size: 24px;
}

.navbar-center {
    flex-grow: 1;
    text-align: center;
}

.nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.nav-items li {
    display: inline;
    margin: 0 15px;
}

.nav-items a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.3s;
    padding: 8px 16px;
    border-radius: 50px;
}

.nav-items a:hover {
    color: #fff;
    background-color: rgb(183, 106, 255);
    border-radius: 50px;
}

.selected {
    color: #fff !important;
    background-color: rgb(183, 106, 255);
    border-radius: 50px;
}

.block {
    display: flex;
    align-items: center;
    padding: 20px 7%;
}

.sub-block {
    flex: 1 0 0;
}

.block-text {
    font-size: 20px;
    margin-left: 10%;
}

.block-text a {
    text-decoration: underline #000;
}

.block-text a:link, a:visited {
    color: #000;
}

.text-decor {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: rgb(183, 106, 255);
    border-radius: 50%;
    margin: 0 2px 0 2px;
}

video {
    width: 70%;
    height: 70%;
}

@media only screen and (max-width: 768px) {
    html {
        background: #fff;
    }

    video {
        width: 95%;
        height: 95%;
    }
    .nav-items {
        display: none;
    }

    .block {
        padding: 10px 6%;
        flex-direction: column;
    }

    .block-text {
        font-size: 22px;
        margin-top: 0px;
    }

    .navbar {
        flex-direction: column;
    }
    .navbar-center {
        margin-top: 10px;
    }
    .nav-items li {
        display: block;
        margin: 10px 0;
    }

}

@media only screen and (min-width: 768px) {
    html {
        background: linear-gradient(to right, #fff 50%, rgb(255, 190, 201) 100%);
    }  
}
