@import url('https://fonts.googleapis.com/css2?family=Sixtyfour:SCAN@-50&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Workbench:SCAN@-50&display=swap');

:root{
  --bgColor : hsla(242, 86%, 6%, 1);
  --bgColorLight : hsla(242, 86%, 24%, 1);
  --textColor : hsla(242, 86%, 88%, 1);
  --textColorDark : hsla(242, 36%, 0%, 1);
  --paperColor: hsla(242, 86%, 44%, 1);
  --paperColorDark: hsla(242, 86%, 34%, 1);
  --shadowColorFaint: hsla(0, 0%, 0%, 0.2);
}

::selected{
  color: var(--textColorDark);
}

*{
  box-sizing: border-box;
  transition: all 0.12s cubic-bezier(0.42, 0.54, 0.22, 1.26);
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: #000;
  color: var(--textColor);
  font-family: "Sixtyfour", sans-serif;
  font-style: normal;
  position: relative;
}

audio {
  position: fixed;
  left: 10px;
  bottom: -10px;
  width: calc(100% - 20px);
}

audio.active{
  bottom: 10px;
}

.circle-btn {
  font-weight: bolder;
  display: block;
  border-radius: 20px;
  border: none;
  background-color: #fff;
  font-family: "Sixtyfour", sans-serif;
  padding: 10px 50px;
}

.main-header {
  letter-spacing: 3px;
  padding: 20px 2%;
  font-size: 25px;
  color: #fff;
  mix-blend-mode: difference;
}

.content {
  letter-spacing: 1px;
  line-height: 20px;
  padding: 30px 2%;
  color: #fff;
  mix-blend-mode: difference;
  font-size: 14px;
}

.highlight {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  color: #000;
  background: #fff;
}

#cursor {
  animation: cursor-blink .75s infinite step-end; /*1sec interval indefinite loop */
}

@keyframes cursor-blink {
  0%,
  100% {
    opacity: 1;
  } 
  50% {
    opacity: 0;
  } 
}

#header-content {
  line-height: 35px;
}

/* mobile */
@media only screen and (max-width: 768px) {

  #canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .visualizer-content {
    height: 85%;
  }

  .credits {
    color: #fff;
    font-size: 14px;
    margin-left: 20px;
    align-self: center;
  }
}
/* PC */
@media only screen and (min-width: 768px) {
  html, body{
    left: 1%;
  }

  #canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  #out {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 0;
  }

  .pre-check {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
  }
  
  .post-check {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 98;
    display: none;
  }

  .circle-btn {
    position: absolute;
    left: 40%;
    top: 45%;
  }

  .credits {
    color: #fff;
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    z-index: 1;
  }

  .main-header {
    top: 0;
    right: 0;
  }
}